.imagen1 {
    width: 100vw;
    opacity: 0.5;
}

.imagen1:hover {
    opacity: 1;
}

.imagengaleria {
    width: 250px;
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.imagengaleria:hover {
    opacity: 0.3;
    cursor: pointer;
}